.container {
  display: flex;
  width: 100%;
}

.itemContainer {
  display: flex;
  width: 100%;
}

.itemClass1 {
  flex: 1;
}

.itemClass2 {
  flex: 4;
}

.itemPadding {
  padding: 5px 0 5px 0;
  border: solid 1px black;
  align-items: center;
}
