.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo,
.navigation {
  display: flex;
  column-gap: 20px;
  color: black;
  text-decoration: none;
}

.navigation > *:not(span) {
  color: blue;
  text-decoration: none;
}

.active {
  color: red;
}
